*{
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

body{
  overflow-x: hidden;
}

main{
  width: 100vw;
  height: 100%;
  background-color: #E4F9FF;
}

header{
  width: 96vw;
  height: 64px;
  margin: auto;
  border-radius: 20px;
  /* background-color: blue; */
  position: relative;
  top: 18px;
  text-align: center;
  font-size: 14px;
}

.back{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #FFDBDB;
  background-image: url("img/back.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.profile{
  width: 86vw;
  height: 40vh;
  border-radius: 20px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  top: 20px;
  display: block;
  text-align: center;
}

.profilePic{
  background-image: url("img/sig.jpg");
  background-size: 100%;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: white;
  margin: auto;
  position: relative;
  top: 8vh;
}

.uName{
  position: relative;
  top: 20vh;
  color: white;
  font-size: 24px;
}

.menu{
  display: grid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  top: 30px;
  left: 4%;
}

.block{
  width: 28%;
  height: 180px;
  /* background-color: white; */
  margin: 10px 1%;
  position: relative;
  border-radius: 20px;
  text-decoration: none;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.block p{
  position: relative;
  top: 10px;
  left: 10px;
  color: black;
}

.calender{
  width: 80%;
  height: 500px;
  margin: auto;
  background-color: #FFDBDB;
  position: relative;
  top: 20px;
  text-align: center;
  padding-top: 30px;
  border-radius: 30px;
}

.calender img{
  width: auto;
  height: 80%;
  position: relative;
  top: 20px;
}

.today{
  position: relative;
  top: 40px;
  text-align: center;
}

.question{
  text-align: left;
  background-color: #FFEBF7;
  display: block;
  width: 80%;
  height: 120px;
  margin: 20px 10%;
  border-radius: 13px;
}

.question p{
  position: relative;
  top: 10px;
  margin-left: 20px;
}

.answerbox{
  position: relative;
  width: 90%;
  height: 34px;
  top: 30px;
  margin: 0 2%;
  padding: 6px;
  border-radius: 4px;
  background-color: white;
}
.q6{
  height: 200px;
}
.q6 .answerbox{
  height: 124px;
}

.button{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #FFDBDB;
  background-image: url("img/bubble.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

#msgBox{
  padding: 0 20px;
  margin: auto;
  width: 70vw;
  height: 70vh;
  border: 4px solid #E87D7D;
  border-radius: 25px;
  overflow: scroll;
  overflow-x: hidden;
}

#chat{
  text-align: center;
}

.write{
  width: 60%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f86;
}

.scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: none;
}

.scroll::-webkit-scrollbar-thumb
{
  border-radius: 5px;
	background-color: #E87D7D;
}

.box {
  border-radius: 25px;
  width: 180px;
  margin: 20px auto;
  margin-right: 0;
  background: #7dd1ff;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-family: 'VT323', monospace;
  position:relative;
  content: "";
}

.box2 {
  border-radius: 25px;
  width: 180px;
  margin: 20px auto;
  margin-left: 0;
  background: #e6e6e6;
  padding: 10px;
  text-align: center;
  color: #2e2e2e;
  font-family: 'VT323', monospace;
  position:relative;
  content: "";
}

@media screen and (max-width:830px){
/*If the screen goes under 768px. Mobile script here*/
  .calender img{
    width: 94%;
    height: auto;
    position: relative;
    top: 20px;
  }
}
